body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    
}
.container{
    font-family: Overpass;
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
.pane{
    font-size: 24px;
    
}
.spacing{
    padding: 15px;
}
#hiddenButton{
    visibility: hidden;
}
#result{
    visibility: hidden;
    width: 250px;
}