<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="theme-color" content="#84db94">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="App to check a work schedule">
    <meta name="author" content="Sascha">
    <title>Helvetios Rooster Tool</title>
</head>


<body>
    <div class="container well">
        <h1>Helvetios Rooster Tool</h1>
        <br>
        <div ng-app="roosterApp" ng-controller="RoosterAddController as roosterList">
            <div ng-controller="ctrlIndex as ci">
                <div class="alert alert-success" id="updateBox" ng-show="updateBox">
                    {{result}}</div>
                <div ng-show="loading"><img src="img/Infinity-2.1s-200px.gif"><span class="loader"><br>Loading... Just a moment </span></div>
                <div class="error" ng-show- "errorPage">{{errorMsg}}</div>
                <div ng-show="gui">
                    <div class="directbtn btn-group">
                        <button class="btn btn-sm btn-primary" ng-click="ci.back()">< Prev week</button>
                        <button class="btn btn-sm btn-primary" ng-click="ci.next()">Next week ></button>

                    </div>
                    <div class="row">
                        <div class="col-l-6">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="7"><input class="form-control input-veld" type="text" ng-model="myName" placeholder="Naam"></th>
                                    </tr>
                                </thead>
                                <tr>
                                    <th>Dag</th>
                                    <th>Klant</th>
                                    <th>Locatie</th>
                                    <th>Rol</th>
                                    <th>Werktijd</th>
                                    <th>Pauze</th>
                                    <th></th>
                                </tr>
                                <tbody ng-repeat="x in master track by $index" ng-show="(($index < (ci.page * ci.numRecords)) && ($index >= ((ci.page - 1) * ci.numRecords)))">
                                    <tr ng-controller="RoosterOptionsCtrl as roosterOptions">
                                        <td>{{x.data.dag}} {{x.data.datum}}</td>
                                        <td><select ng-model="x.data.klant" ng-options="k as v for (k,v) in klanten"></select></td>
                                        <td>{{x.data.locatie}} </td>
                                        <td><select ng-model="x.data.rol" ng-options="rol for rol in rollen"></select></td>
                                        <td>{{x.data.werktijd}}</td>
                                        <td><select ng-model="x.data.pauze" ng-options="pauze for pauze in pauzes"></select> </td>
                                        <td><button class="btn btn-primary" ng-click="saveClKlant($index)">Save</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <form novalidate>
                    <div class="form-group group1 row">
                        <div class="col">

                        </div>
                </form>
                </div>
            </div>
        </div>
        <!-- /.container -->


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCgrUclDks8bNdMRwAj25qyjZRGDhvp94o",
                authDomain: "helvetios-rooster.firebaseapp.com",
                databaseURL: "https://helvetios-rooster.firebaseio.com",
                projectId: "helvetios-rooster",
                storageBucket: "helvetios-rooster.appspot.com",
                messagingSenderId: "941710115932"
            };
            firebase.initializeApp(config);

        </script>





</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
<!-- Custom styles for this template -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.2.2/ical.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="app.js"></script>

</html>
