body {
    background-image: url("https://www.google.nl/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiI79znycrYAhULKlAKHaYGBTAQjRwIBw&url=http%3A%2F%2Fglobalmedicalco.com%2Fgroup%2FWallpaper%2520Geometric%2F&psig=AOvVaw26aOFFBsMwLNFMVWdSFjIF&ust=1515576800608431");
    background-repeat: no-repeat;
    padding: 3rem 1.5rem;
    text-align: center;
    margin: auto;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.directbtn{
    float: right;
}
.input-veld{
    background-color: #212529;
    color: white;
    font-weight: bold;
    border: 0px;
    text-align: center
}
.loader{
    font-weight: bold;
    font-family: 'Gugi', cursive;
}
.error{
    font-weight: bold;
    font-family: 'Gugi', cursive; 
    font-size: 100px;
}
h1{
    font-family: 'Gugi', cursive;    
}